<!DOCTYPE html>
<html lang="en">
<title>{{ title }} List </title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <nav>
    <ul>
      <li class="navLink"><a href="/books">Home</a></li>
    </ul>
  </nav>
    <p>
    <b> {{ book.name }}</b> <b> {{ book.author }}: </b> {{ book.genre }}  
    </p>
    <a href="/books">go back to all books </a>
</body>
</html>
</html>